# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     'prefix': 'log'
#     'body': 'console.log $1'
#
# Each scope (e.g. '.source.coffee' above) can only be declared once.
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Atom Flight Manual:
# http://flight-manual.atom.io/using-atom/sections/basic-customization/#_cson
'*':
   'Code Heading':
      'prefix': 'code-heading'
      'body': """
      /**
       * @author ${1:Chris Humboldt}
       */
      """
   'Code Comment':
      'prefix': 'code-comment'
      'body': """
      /**
       * ${1}
       */
      """
   'Code Comment Line':
      'prefix': 'code-comment-line'
      'body': """
      /* ${1} */
      """
   'Code Comment With Params':
      'prefix': 'code-comment-params'
      'body': """
      /**
       * @param ${1}
       */
       """
   'Code Comment With Deconstructed Params':
      'prefix': 'code-comment-decon-params'
      'body': """
      /**
       * ${1}
       *
       * @param object The deconstructed arguments object.
       * @param object.${2} ${3}
       */
      """
   'Table of Contents':
      'prefix': 'table-of-contents'
      'body': """
      // Table of contents
      // $1
      """
'.html':
   'HTML Template':
      'prefix': 'template-html'
      'body': """
         <!DOCTYPE html>
         <html>
         <head>

            <meta charset="utf-8">
            <meta http-equiv="x-ua-compatible" content="ie=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
            <title>$1</title>

         </head>
         <body>

         </body>
         </html>
         """
   'Include CSS':
      'prefix': 'include-css'
      'body': '<link href="$1" rel="stylesheet" type="text/css">'
   'Include JS':
      'prefix': 'include-js'
      'body': '<script src="$1"></script>'
   'Angular NG Container':
      'prefix': 'ng-container'
      'body': '<ng-container>$1</ng-container>'
'.ts':
   'Export File':
      'prefix': 'export-file'
      'body': """
      /**
       * @author ${1:Chris Humboldt}
       */

      export * from '${2}';
      """
